%%include('analytics.html')

<header class="header">
    <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="burger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="block">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path fill="currentColor" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </svg>
    </div>
    <a href="/">
      <amp-img src="img/logo.png" width="120" height="37" layout="fixed" alt=""></amp-img>
    </a>

    <!-- autocomplete: https://amp.dev/documentation/examples/components/amp-autocomplete/?format=websites -->
    <!-- <script async custom-element="amp-autocomplete" src="https://cdn.ampproject.org/v0/amp-autocomplete-0.1.js"></script> -->
    <!-- <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script> -->
    <!-- Optional: amp-bind is needed for dynamically changing the data source of an amp-autocomplete. -->
    <!-- <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script> -->
    <!-- Optional: amp-mustache is needed for rich-content templating and client-side rendering of form responses. -->
    <!-- <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script> -->

    <input
      name="search"
      type="search"
      aria-label="Start typing to search"
      required
      placeholder="Start typing to search"
      autocomplete="off"
      value=""
      on="
        input-debounced:
          AMP.setState({
            youtube: {query: event.value}
          }),
          results.show;
        tap:
          AMP.setState({
            youtube: {query: event.value}
          }),
          results.hide;"
    />
    <!-- amp-list [src]="'https://...' + youtube.query" -->
    <div class="cart-icon-container">
        <a href="/shopping-cart">
                <amp-img src="img/campmor_backpack.png" width="35" height="27"></amp-img>
                <amp-list id="cart-count" src="/api/cart-count" height="17" width="17"
                          layout="fixed" binding="no" credentials="include"
%%if (context.pageType == 'cart-details') {                          
                          [hidden]="!cartItemsList.items[0].items.length"
}
>
                    <template type="amp-mustache">
                        {{#count}}
                        <span 
%%if (context.pageType == 'cart-details') {                          
                           [text]="cartItemsList.items[0].items.length"
}
                        >
                            {{count}}
                        </span>
                        {{/count}}
                    </template>
                </amp-list>
        </a>
    </div>
</header>