<!DOCTYPE html>
%%include('../partials/copyright.html')
<html ⚡="" lang="en">
  <head>
    %%include('../partials/head.html', {
      "pageType": "cart"
    })
  </head>
  <body>
    %%include('../partials/header.html')
    %%include('../partials/menu.html')

    <main
      id="content"
      role="main"
      class="main items-start commerce-cart pb3 md-pb7 md-mb3"
    >
      <div class="flex flex-wrap">
        <section class="col-12 md-col-8 pt2 pb3 md-pt4 md-pb7">
          %%include('../partials/cart-items.html')
          <div
            class="commerce-cart-item flex flex-wrap items-center mx2 mb2 md-mx4 md-mt3 md-pb3"
          >
            <div class="col-3 sm-col-2 md-col-2 lg-col-2">
              <amp-img
                class="commerce-cart-item-image"
                src="../../img/e-commerce/product/product-1.jpg"
                width="1"
                height="1"
                layout="responsive"
                alt="Sprocket Set"
                noloading=""
              >
                <div placeholder="" class="commerce-loader"></div>
              </amp-img>
            </div>
            <div
              class="commerce-cart-item-desc px1 col-6 sm-col-7 md-col-7 lg-col-7"
            >
              <div class="h6 mb1">Sprocket Set</div>
              <div>Steel, designed for long lasting stability.</div>
            </div>
            <div
              class="commerce-cart-item-price col-3 h6 flex flex-wrap justify-around items-start"
            >
              <span>£470</span>
              <span>1</span>
              <div
                role="button"
                class="inline-block commerce-cart-icon"
                tabindex="0"
              >
                ✕
              </div>
            </div>
          </div>
        </section>
        %%include('../partials/cart-summary.html')
      </div>
      %%include('../partials/related-products.html')
    </main>
    %%include('../partials/footer.html')
  </body>
</html>
